<div class="gutter-example">
    <div nz-row [nzGutter]="8">
        <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="gutter-box">
                <!---->
                <nz-progress [ngModel]="_cpu" [nzFormat]="_formatCpu" [nzType]="'circle'"></nz-progress>
                <span class="progress-label">发明</span>
                <!---->
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="gutter-box">
                <!---->
                <nz-progress [ngModel]="_men" [nzFormat]="_formatMen" [nzType]="'circle'"></nz-progress>
                <span class="progress-label">实用新型</span>
                <!---->
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="gutter-box">
                <!---->
                <nz-progress [ngModel]="_disk" [nzFormat]="_formatDisk" [nzType]="'circle'"></nz-progress>
                <span class="progress-label">设计</span>
                <!---->
            </div>
        </div>
        <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="gutter-box">
                <!---->
                <nz-progress [ngModel]="_network" [nzFormat]="_formatNetwork" [nzType]="'circle'"></nz-progress>
                <span class="progress-label">著作权</span>
                <!---->
            </div>
        </div>
    </div>
</div>



