<div class="gutter-example">
	<div nz-row [nzGutter]="8">
		<div nz-col class="gutter-row" [nzSpan]="8">
			<div class="gutter-box">
				<!---->
				<div>
					<nz-progress [ngModel]="_ERROR" [nzFormat]="_formatLOG" [nzType]="'circle'"></nz-progress>
					<span class="progress-label">ERROR</span>
				</div>
				<!---->
			</div>
		</div>
		<div nz-col class="gutter-row" [nzSpan]="8">
			<div class="gutter-box">
				<!---->
				<div>
					<nz-progress [ngModel]="_WARN" [nzFormat]="_formatLOG" [nzType]="'circle'"></nz-progress>
					<span class="progress-label">WARN</span>
				</div>
				<!---->
			</div>
		</div>
		<div nz-col class="gutter-row" [nzSpan]="8">
			<div class="gutter-box">
				<!---->
				<div>
					<nz-progress [ngModel]="_FATAL" [nzFormat]="_formatLOG" [nzType]="'circle'"></nz-progress>
					<span class="progress-label">FATAL</span>
				</div>
				<!---->
			</div>
		</div>
	</div>

	<!---->
	<div nz-row [nzGutter]="8" class="log-history-container">
		<div nz-col class="gutter-row" [nzSpan]="24">
			<div class="log-history-analysis" id="log-history-analysis"></div>
		</div>
	</div>
	<!---->
</div>

