<div nz-row [nzGutter]="8">
    <div nz-col class="gutter-row" [nzSpan]="8">
        <div class="gutter-box">
            <!---->
            <nz-progress [ngModel]="_cpu" [nzFormat]="_formatCpu" [nzType]="'circle'"></nz-progress>
            <span class="progress-label">cpu</span>
            <!---->
        </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="8">
        <div class="gutter-box">
            <!---->
            <nz-progress [ngModel]="_men" [nzFormat]="_formatMen" [nzType]="'circle'"></nz-progress>
            <span class="progress-label">men</span>
            <!---->
        </div>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="8">
        <div class="gutter-box">
            <!---->
            <nz-progress [ngModel]="_disk" [nzFormat]="_formatDisk" [nzType]="'circle'"></nz-progress>
            <span class="progress-label">disk</span>
            <!---->
        </div>
    </div>
</div>

