<nz-alert [nzType]="'success'"
		  [nzMessage]="'授权通过，正在授权期限内！'"
		  [nzDescription]="'您可以尽情使用，距离授权失效还有一年！'"
		  [nzShowIcon]="'true'">
</nz-alert>

<div class="split-line"></div>

<nz-alert [nzType]="'warning'"
		  [nzMessage]="'注意！还有一个月，授权即将到期！'"
		  [nzDescription]="'请注意续费，防止证书到期，影响正常业务！'"
		  [nzShowIcon]="'true'">
</nz-alert>

<div class="split-line"></div>

<nz-alert [nzType]="'error'"
		  [nzMessage]="'sorry！您的授权已经过期！'"
		  [nzDescription]="'相关服务将不能使用！'"
		  [nzShowIcon]="'true'">
</nz-alert>

<div class="split-line"></div>
